{% extends 'aims/aid_by.html' %}
{% load i18n %}


{% block nav_pulldown %}
    <button type="button" class="btn btn-default dropdown-toggle dash_subnav" data-toggle="dropdown">
        {% if current_donor %} {{ current_donor.name }}
        {% else %} {% trans "All Donors" %} {% endif %}
    </button>
    <span class="ion-arrow-down-b dash_subnav"></span>
    <ul class="dropdown-menu dash_subnav" role="menu">
        <li><a href="{% url 'aid_by' section='donor' subset=subset %}">{% trans "All Donors" %}</a></li>
        {% for code, name in donors %}
        <li><a href="{% url 'aid_by' section='donor' subset=subset which=code%}">{{ name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}


{% block local_content %}
<div class="row donor_commit_row_1">
    <div class="col-sm-12 col-md-12">
        <br />
        <h4 class="stats text-center">{% trans "Commitment by Donor" %}
         <a id="commitChart" class="ion-information-circled dash-info" rel="popover" data-trigger="hover" title="{% trans 'Commitment by Donor' %}" data-content="{% trans 'This chart shows the total amount of development assistance committed by donor partners for activities currently being implemented. This chart corresponds to the date filter above.' %}" ></a>
        </h4>
        <p class="chart_instructions text-center">{% trans 'click on an individual chart bar below to filter the statistics by that specific donor' %}</p>
        <br />
        <div id="donor_commitments"></div>
        <br />
    </div>
    
    <div class="col-sm-5 col-md-5 donor_row_1">
        <h4 class="stats align-center">{% trans "Commitment by Aid Sector" %}
            <a id="comit_cat" class="ion-information-circled dash-info" rel="popover" data-trigger="hover" title="{% trans 'Commitment by Aid Sector' %}" data-content="{% trans 'This chart shows the total amount of commitments from development partners by aid sector for activities currently being implemented.' %}" ></a>
        </h4>
        <div id="sector_commitments"></div>
    </div>
    
    <div class="col-sm-7 col-md-7 donor" >
        <div class="row donor_row_1">
            <div class="col-sm-6 col-md-6 dots_right stats_block">
                <h3 class="stats align-center">{% trans "Total Donors" %}
                    <a id="tot_don" class="ion-information-circled dash-info" rel="popover" data-trigger="hover" title="{% trans 'Total Donors' %}" data-content="{% trans 'This is the total number of development partners with activities currently being implemented.' %}" ></a>
                </h3>
                <div class="count_block">
                    <p class="big_count align-center">{{donors_count}}</p>
                </div>   
            </div> 
            <div class="col-sm-6 col-md-6 stats_block">
                <h3 class="stats align-center">{% trans "Total Commitment" %}
                    <a id="tot_comit" class="ion-information-circled dash-info" rel="popover" data-trigger="hover" title="{% trans 'Total commitment' %}" data-content="{% trans 'This is the total amount of development assistance committed across all activities currently being implemented. This amount corresponds to the date filter above.' %}"></a>
                </h3>
                <div class="count_block">
                    <p class="big_count align-center"><span class="big_bucks">$</span>{{donors_commitment.0|floatformat:"2"}}
                    <p class="count_suffix align-center">{{donors_commitment.1}}</p></p>
                </div>  
            </div>
        </div>
        <div class="border_btm"></div>
        <div class="row donor_row_2">
            <div class="col-sm-6 col-md-6 dots_right stats_block">
                <h3 class="stats align-center">{% trans "Total Disbursements" %}
                    <a id="tot_exe" class="ion-information-circled dash-info" rel="popover" data-trigger="hover" title="{% trans 'Total disbursements' %}" data-content="{% trans 'This is the total amount of development assistance disbursed across all activities currently being implemented. This amount corresponds to the date filter above.' %}" ></a>
                </h3>
                <div class="count_block">
                    <p class="big_count align-center"><span class="big_bucks">$</span>{{donors_disbursement.0|floatformat:"2"}}<p class="count_suffix">{{donors_disbursement.1}}</p></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 stats_block">
                <h3 class="stats align-center">{% trans "Percent Disbursed" %}
                    <a id="per_exe" class="ion-information-circled dash-info" rel="popover" data-trigger="hover" title="{% trans 'Percent Disbursed' %}" data-content="{% trans 'This is the percentage total of development assistance disbursed across all activities currently being implemented. This percentage corresponds to the date filter above.' %}" ></a>
                </h3>
                <div class="count_block align-center">
                    <p class="big_count align-center">{{ donors_executed|floatformat:"1" }}%</p>
                </div>    
            </div>    
        </div>        
        <div class="border_btm"></div>
        <div class="row donor_row_3">
            <div class="col-sm-4 col-md-4">
              <h5 class="stats align-center">{% trans "Activities by Ministry" %}
                  <a id="comit_min" class="ion-information-circled dash-info" rel="popover" data-trigger="hover" title="{% trans 'Activities by Ministry' %}" data-content="{% trans 'This chart shows the total number of activities currently being implemented associated with each relevant partner Ministry. This chart corresponds to the date filter above.' %}" ></a>
              </h5>
              <div id="donut_commitment_ministry" class="donor-donut"></div>
            </div>
            <div class="col-sm-4 col-md-4">
            <h5 class="stats align-center">{% trans "Loans Vs Grants" %}
               <a id="tot_loan_grant" class="ion-information-circled dash-info" rel="popover" data-trigger="hover"  title="{% trans 'Loans vs Grants' %}" data-content="{% trans 'This chart shows the total number of activities by aid finance type.' %}" ></a>
            </h5>
               <div id="donut_loans_grants" class="donor-donut"></div>    
            </div>
            <div class="col-sm-4 col-md-4">
              <h5 class="stats align-center">{% trans "Activities by Status" %}
                  <a id="tot_proj" class="ion-information-circled dash-info" rel="popover" data-trigger="hover" title="{% trans 'Activities by status' %}" data-content="{% trans 'This chart shows the total number of activities by status (i.e. pipeline, implementation, completed, post-completion). This chart corresponds to the date filter above.' %}" ></a>
              </h5>
              <div id="donut_activities_status" class="donor-donut"></div>
            </div>
        </div>
    </div>
</div>    
{% endblock local_content %}

{% block local_scripts %}

<!--Popover-->

<script>
    $(function ()
    {
        $("#tot_comit").popover({placement:'left'});
        $("#commitChart").popover({placement:'right'});
        $("#tot_don").popover({placement:'top'});
        $("#tot_exe").popover({placement:'top'});
        $("#comit_min").popover({placement:'top'});
        $("#tot_loan_grant").popover({placement:'top'});
        $("#don_type").popover({placement:'top'});
        $("#tot_proj").popover({placement:'left'});
        $("#per_exe").popover({placement:'left'});
        $("#comit_cat").popover({placement:'top'});
    });
d3.select(window).on('resize', resize_window);
</script>

<!--// Date Picker -->

<script>
    $('.input-daterange').datepicker({
        format: "M yyyy",
        startView: 1,
        minViewMode: 1,
        orientation: "top left"
    });
</script>

<!--// Bar Graph -- Donor Commitment     -->

<script language="javascript">

    // var data = [{# for donor, value, code, bla, pretty in donors_amounts %}
    // {'name': "{{ donor }}", 'code': "{{code}}", 'value':{{value}},'pretty': '{{pretty}}' },{% endfor #}];

    var data = {{ donors_commitments|safe }}
    var margin = {top: 10, right: 40, bottom: 100, left: 60};
    var width = $("#donor_commitments").width();
    var height = 400;

    function click(d){
        console.log(d.name);
        document.location = "{% url 'aid_by' section='donor' subset=subset %}"+d.code;
    }
    window.margin = margin
    window.bar_chart_data = data
    draw_bar_chart_into_div(
            "#donor_commitments", data, width, height, margin,
            click{% if current_donor %},'{{current_donor.code}}'{%endif%});

</script>


<!--// Side Map    -->

<!--        <script>
    
            var width = 400,
                height = 450;
    
            var projection = d3.geo.albers()
                .center([0, 19.4])
                .rotate([-96, 0])
                .parallels([10, 30])
                .scale(1300)
                .translate([width / 3, height / 2]);
    
    
            var path = d3.geo.path()
                         .projection(projection);
    
            var svg = d3.select("div#map").append("svg")
                                       .attr("width", width)
                                       .attr("height", height);
    
            d3.json("/static/geo/mm_states.json", function(error, mm_states) {
                svg.selectAll(".states_regions")
                   .data(topojson.feature(mm_states, mm_states.objects.states).features)
                   .enter().append("path")
                   .attr("class", function(d) { return "state " + d.id; })
                   .attr("d", path);
            });
    
        </script>-->

<!--Donut Graph for Loans VS Grants-->

<script>

    var width = 200;
    var height = 155;

    // var data = [
    //     {'name': "Implementation", 'code':6, 'value': 55 },
    //     {'name': "Completed", 'code':3, 'value': 15 },
    // ]

    var data = {{ loans_vs_grants|safe }}
    draw_donut_into_div("#donut_loans_grants",data, width, height);
</script>

<!--// Horizontal Bar Graph -- Sector Commitment     -->

<script language="javascript">

    // var data = [{# for name, value, pretty in categories %}
    // {'name': "{{name}}", 'value': {{value}} , 'pretty': "{{pretty}}"},{%endfor#}
    // ];

    var data = {{ commitment_by_category|safe }}
    var width = $("#sector_commitments").width();
    var bar_height = 16.5;
    window.horizontal_chart_data_2 = data
    draw_horizontal_bar_chart_into_div("#sector_commitments", data, width, bar_height);

</script>

<!--Donut Graph for Commitment by Ministry-->

<script>

    var width = 200,
        height = 155;

    var data = {{ activities_by_ministry|safe }}
    draw_donut_into_div("#donut_commitment_ministry",data, width,height);
</script>


<!--Donut Graph for Projects By Status-->

<script>


    var width = 200,
        height = 155;
    var data = {{ activity_statuses|safe }}

    draw_donut_into_div("#donut_activities_status",data, width,height, '{% trans "Total" %}');

</script>




{% endblock %}