{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <section id="password-reset">
        <div class="row">
            <div id="settings">
                <div class="page-header" id="settings_header">
                    <div class="page-header">
                        <h1>{% trans "Password Reset" %}</h1>
                    </div>
                    <p id="password_reset">
                        {% blocktrans %}To reset your password please enter your email address below. We will send you an email with some instructions.{% endblocktrans %}
                     </p>

                     <form method="post" action=".">
                        {% csrf_token %}
                        <table id="password_reset_table">
                            {{ form.as_table }}
                        </table>                       
                    </form>
                    
                    <input type="submit" class="btn large btn-primary pull-right" value="{% trans 'Submit Request' %}" />
                </div>
            </div>
        </div>  
    </section>

{% endblock %}
