{% extends "base.html" %}
{% load i18n %}


{% block content %}

<section id="password-change">
    <div class="row">
        <div id="settings">
            <div class="page-header" id="settings_header">
                <h1>{% trans "Change Password" %}</h1>
            </div>
            
            <form method="POST" action=".">
            {% csrf_token %}
            <table id="password_change">
                    {{ form.as_table }}
            </table>
            <input type="submit" class="btn large btn-primary" value="{% trans 'Change Password' %}" />
            </form>
        </div>
    </div>
</section>

{% endblock %}
